@import url('https://fonts.googleapis.com/css2?family=Festive&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0px;
    list-style: none;
    text-decoration: none;

}

body {
    background-color: turquoise;
    

}

#footer {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: whitesmoke;
    margin-bottom: 200%;


}

.header {
    width: 100%;
    height: 70px;
    display: block;
    background-color: slategrey;
}

.inner_header {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    float: right;
    
}

.logo_container{
    height: 100%;
    display: table;
    
    
}

.logo_container h1{
    color:white;
    height: 100%;
    font-family: 'Festive', cursive;
    font-size: 45px;
    font-weight: 400;
    position: relative;
    
}

#logo {
    float: left;
    font-size: 400%;
    
}


/* Navigation pages */

#pages {
    font-size: 100%;
    letter-spacing: 3px;
    margin-left: 60%;
   
}


#pages li {
    float: left;
    margin-right: 25px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lato', sans-serif;

}

#pages a {
    color: inherit;
}

#pages a:hover {
    border-bottom: 1px solid slategrey;
}

.funk {
    border-bottom: 1px solid slategrey;

}