@import url('https://fonts.googleapis.com/css2?family=Festive&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0px;
    list-style: none;
    text-decoration: none;

}

body {
    background-color: red;
    min-height: 200px;
    

}

header {
    background-color: #232323;
}

.logo_container {
display: inline-block;
width: fit-content;
height: 100px;
padding-top: 25px;
}

.logo_container h1{
    color: white;
    height: 100%;
    font-family: 'Festive', cursive;
    font-weight: 400;
    position: relative;
    font-size: 10%;
    
}

.logo_container h1 span {
    color: red;
    font-weight: 400;
}

#logo {
    float: left;
    font-size: 400%;
    
    
}

/* Navbar */

nav {
    display: inline;
    height: 100%;

}

#pages {
    float: right;
    font-size: 100%;
    letter-spacing: 3px;
    height: 100%;
    display: inline;
    padding-top: 35px;
   
}

#pages, #logo {
    line-height: 50px; 

    
    
}

#pages li {
    /* margin-left: 25px; */

    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    display: inline;

    /* float: right; */
}


#pages a {
    color: inherit;
    height: 100%;
    /* text-align: right; */
}



#pages a:hover {
    background-color:black;
    color:red;
}

.active{
    /* float: left;
    text-align: right; */

}


h1.title{
    margin-bottom: 30px;
    color: whitesmoke;
    font-family: 'Festive', cursive;
    text-transform: uppercase;
    font-size: 50px;
    word-spacing: 10px;
    letter-spacing: 3px;
    text-align: center;
}


.abt a{
    width: 180px;
    height: 40px;
    border: 2px solid whitesmoke;
    line-height: 35px;
    margin: 25px auto 0;
    color: black;
    text-align: center;
    font-family: 'Lato', sans-serif;

}

#footer {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: whitesmoke;
    margin-bottom: 100%;
    text-align: center;
    

}

 p {
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    
    
 }


.inner_header {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    float: right;
    
}


/* Banner image with banner text */

#banner-text, #banner-text h2 {
    color:white;
}


#banner-image {
    height: 900px;
    width: 100%;
    background: url('../images/banner-image.jpg') no-repeat center center;
}


/* About */

.about p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}


.contact {
    padding: 29% 40%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

/* Contact */

.form_input {
    width: 250px;
    padding: 15px 30px;
    border: 1px solid;
    font-family: 'Lato', sans-serif;
    text-align: left;
    margin-left: 0%;
}

.center {
    margin-left: 45%;
    text-align: center;
 } 

 